
    <div class="row header">
        <div class="col-lg-8 col-xs-12">
            <img src="../assets/images/logo.jpg" alt="Windsor House Dental Surgery" class="img-responsive" />
            <hr class="blueStripe headStripe">
        </div>
        <div class="col-lg-4 col-xs-12">
            <table class="table contactTable">
                <tr>
                    <td><strong>Telephone:</strong></td>
                    <td>01932 829500 / 01932 229977</td>
                </tr>
                <tr>
                    <td><strong>Emergency</strong></td>
                    <td>01932 829500 / 01932 229977</td>
                </tr>
                <tr>
                    <td><strong>Address:</strong></td>
                    <td>Windsor House, 20 Queens Road, Hersham, KT12 5LR</td>
                </tr>
            </table>
        </div>
    </div>
    <hr>